.Fondo {
   text-align: center;
   background: linear-gradient(rgb(168, 168, 241), pink);
   background-repeat: no-repeat;
   background-attachment: fixed;

}
button{ 
  width: '30%';
  background-color:rgb(226, 199, 247);
  border: none;
  border-radius: 60px;
  outline:none;
}
input{
  background-color: #ffffff9a;

    margin-top: auto;
    color: rgb(0, 0, 0);/*COLOR DE LA FUENTE*/
    text-align: center;
    
}